@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family:'Inter';
    src: url('./assets/fonts/static/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'InterBold';
    src: url('./assets/fonts/static/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family:'InterBolder';
    src: url('./assets/fonts/static/Inter-ExtraBold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

